body {
    margin:0px;
    font-family: sans-serif;
    background-color: #808080;
}
.background {
    background: url(background.png);
    background-size: 30%;   
}
nav {
    background-color: #808080;
    /* border: 1px black solid; */
    border-width: 0px 0px 3px 0px;
    border-color: #FFCA11;
    border-style: solid;
    /* height: 50px; */
}
.selectedpage {
    background-color: #FFCA11;
}
a.topmenu {
    line-height: 34.44px;
    padding: 10px;
    display:block;
    text-decoration: none;
    color: black
}
a:hover.topmenu {
    background-color: #FFCA11;
    /* color: black; */
}
.navigation ul {
    /* margin:auto; */
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    /* margin-left: 70%; */
    list-style-type: none;
}
#limg li {
    border: 1px yellow solid;
}
.navigation li {
    margin: 0px 0px 0px 10px;
    padding: auto;
    height: 100%;
    /* border: 1px green solid; */
    list-style-type: none;
}
.logo {
    position: absolute;
    width: 270px;
    height: auto;
    left: 20px;
    top: 10px;
}
.user_img {
    width: 35px;
    height: auto;
}
.infoblock {
    padding: 120px 0px;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    height: 500px;
    display: block;
}
.infoblock h1 {
    text-align: center;
}
.infoblock p {
    font-size: 25px;
}
.imginfoblock {
    padding: 80px 0px;
    max-width: 1000px;
    margin: auto;
    color: white;
    box-sizing:border-box;
    height:500px;
    display: block;
}
.imgwrapper {
    background: url(background2.png) no-repeat left center;
    background-size: 100%;
}
.imginfoblock h1 {
    text-align: center;
}
.imginfoblock p {
    font-size: 24px;
}
.imginfoblock ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.imginfoblock li {
    margin:10px;
}
.map {
    height:500px;
    width: 100%;
}
.footer{
    height: 51.44px;
    background-color: #808080;
    border-width: 3px 0px 0px 0px;
    border-color: #FFCA11;
    border-style: solid;
}
.footer ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
a:link.cat, a:visited.cat {
    margin-left: 50px;
    text-decoration: none;
    display: block;
    border: 1px solid red;
    background-color: red;
    width:200px;
    color: white;
    height: 50px;
    line-height : 50px;
    text-align: center;
    border-radius: 5px;
}
a:hover.cat {
    margin-left: 50px;
    border-radius: 5px;
    text-decoration: none;
    line-height : 50px;
    text-align: center;
    height: 50px;
    display: block;
    border: 1px solid red;
    background-color: white;
    color: red;
    width:200px;
}
.searchbox {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    padding: 50px 18%;
}
.formbox {
    position: relative;
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
}
/* .formbox:focus-within { 
    outline: 1px solid blue 
  } */
.formbox>img {
    pointer-events: none;
    position: absolute;
    height: 30px;
    right: 3px;
    top: 3px;
}
.searchfield {
    flex-grow: 2;
    border-width: 0px;
    background-color: #D9D9D9;
    margin: 0px 20px;
    width: 300px;
    height: 35px;
    font-size: large;
}
.searchfield:focus { 
    outline: none !important;
 }
.subbutton {
    /* margin-left: 50px; */
    text-decoration: none;
    /* display: block; */
    /* border: 1px solid red; */
    border-width: 0px;
    background-color: #A7A7A7;
    width: 37px;
    color: white;
    font-size: 20px;
    height: 37px;
    line-height : 20px;
    text-align: center;
    border-radius: 50px;
}
/* .subbutton:hover {
    margin-left: 50px;
    display: block;

    text-decoration: none;
    border: 1px solid red;
    background-color: white;
    width:100px;
    color: red;
    height: 35px;
    font-size: 20px;
    line-height : 20px;
    text-align: center;
    border-radius: 5px;
} */
.switcher {
    display: flex;
}
.rec_or_saved_l {
    font-size: larger;
    width: 190.5px;
    height: 37px;
    border-width: 0px;
    background-color: #D9D9D9;
    border-radius: 50px 0px 0px 50px;
}
.rec_or_saved_r {
    font-size: larger;
    width: 190.5px;
    height: 37px;
    border-width: 0px;
    background-color: #D9D9D9;
    border-radius:  0px 50px 50px 0px;
}
.rec_or_saved_selected {
    background-color: #FFCA11;
}
.catholder {
    /* flex-flow: column wrap;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; */

    justify-content: center;
    padding: 0% 20% 0% 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);

}
.sellerholder {
    justify-content: center;
    padding: 0% 20% 0% 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
}

.grid::after {
  content: "";
  flex: auto;
}

.carad {
    /*
    width: 200px;
    
    position: relative;
    padding: 10px;
    display:block;
    height: 400px;
    flex: 1 0 20%;
    border: 2px solid red;
    margin: 15px; */

    position: relative;
    overflow-wrap: break-word;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    padding: 5px;
    height: 470px;
    margin: 5px;
    border: 2px solid #FFCA11;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.carad_buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px 18px 5px 18px;
}
.carad h3 {
    margin: 10px 5px 10px 5px;
}
.carpreview {
    /* margin:auto; */
    border-radius: 5px;
    width:100%;
    /* height: 140px; */
}
.sellpreview {
    border-radius: 5px;
    width:100%;
    max-height: 300px;
}
p.detailinfo {
    font-size: 15px;
}
.carad span p {
    margin: 5px 10px 10px 10px;
}
.carad span {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto
}
a:link.detailcat, a:visited.detailcat {
    margin: 0px auto;
    text-decoration: none;
    display: block;
    border-width: 0px;
    background-color: #B3B3B3;
    width:150px;
    color: black;
    height: 50px;
    line-height : 50px;
    text-align: center;
    border-radius: 5px;
}
a:link.detailseller, a:visited.detailseller {
    margin: 0px auto;
    text-decoration: none;
    display: block;
    border-width: 0px;
    background-color: #B3B3B3;
    width:100%;
    color: black;
    height: 50px;
    line-height : 50px;
    text-align: center;
    border-radius: 5px;
}
.seller {
    font-size: small;
}
.minicarholder {
    justify-content: center;
    /* padding: 0% 20% 0% 20%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
}
.minicarad {
    /*
    width: 200px;
    
    position: relative;
    padding: 10px;
    display:block;
    height: 400px;
    flex: 1 0 20%;
    border: 2px solid red;
    margin: 15px; */

    position: relative;
    overflow-wrap: break-word;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    padding: 5px;
    height: 370px;
    margin: 5px;
    border: 2px solid #FFCA11;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.minicarad span p {
    margin: 5px 10px 10px 10px;
}
.minicarad span {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto
}
.minicarad h3 {
    margin: 10px 5px 10px 5px;
}
.gotoadd {
    background-color: #FFCA11;
}
/* a:hover.detailcat {
    margin: 0px auto;
    text-decoration: none;
    display: block;
    border: 1px solid red;
    background-color: white;
    width:200px;
    color: red;
    height: 50px;
    line-height : 50px;
    text-align: center;
    border-radius: 5px;
} */
.filterholder {
    margin-left: 100px;
    bottom: 150px;
    /* height: 500px; */
    overflow-y: scroll;
    z-index: 2;
    color: black;
    border: 3px solid #FFCA11;
    position: fixed;
    top: 150px;
    /* height: 1000px; */
    display: block;
    width: 300px;
    border-radius: 5px;
    background-color: #D9D9D9;
    transform: translateX(-134%);
    transition: transform 0.3s ease-in-out;
}
.filterholder-view {
    transform: translateX(0);
}
.helpholder {
    padding: 20px;
    margin-right: 100px;
    bottom: 150px;
    /* height: 500px; */
    z-index: 2;
    color: black;
    border: 3px solid #FFCA11;
    position: fixed;
    top: 150px;
    right: 0px;
    /* height: 1000px; */
    display: block;
    width: 260px;
    border-radius: 5px;
    background-color: #D9D9D9;
    transform: translateX(134%);
    transition: transform 0.3s ease-in-out;
}
.helpholder-view {
    transform: translateX(0);
}
.filtersearchbox {
    padding-left: 10%;
    padding-top: 5%;
}
.filtersearchbox .subbutton {
    margin-left: 25%;
}
#ghost {
    text-align: center;
    writing-mode: vertical-lr;
    color:black;
    font-size: 50px;
    font-size: bold;
    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(211,211,211,1) 5%); */
    /* pointer-events: none; */
    z-index: 1;
    border-left: 3px #FFCA11 solid;
    display: block;
    position: fixed;
    top: 150px;
    bottom: 150px;
    width: 400px;
    /* height: 1000px; */
}
#ghost2 {
    text-align: center;
    writing-mode: vertical-rl;
    color:black;
    font-size: 50px;
    font-size: bold;
    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(211,211,211,1) 5%); */
    /* pointer-events: none; */
    z-index: 1;
    border-right: 3px #FFCA11 solid;
    display: block;
    position: fixed;
    right: 0px;
    top: 150px;
    bottom: 150px;
    width: 400px;
    /* height: 1000px; */
}
.pages {
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-bottom: 10px; */
}
.pages a:link, .pages a:visited {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    display: block;
    /* border: 1px solid red; */
    background-color: #FFCA11;
    width:90px;
    color: black;
    height: 45px;
    line-height : 45px;
    text-align: center;
    border-radius: 5px;
}
/* .pages a:hover {
    background-color: white;
    color:red;
} */
.pages select {
    margin-left: 5px;
    margin-right: 5px;
    height: 45px;
    width: 90px;
    font-size: large;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.pages input {
    margin-left: 5px;
    margin-right: 5px;
    border: 0px solid red;
    background-color: #FFCA11;
    width:90px;
    color: black;
    height: 45px;
    line-height : 40px;
    border-radius: 5px;
}
/* .pages input:hover {
    background-color: white;
    color:red;
} */
.filtersubbutton {
    margin: 10px 25%;
    border: 0px solid red;
    background-color: #FFCA11;
    width:90px;
    color: black;
    height: 45px;
    line-height : 40px;
    border-radius: 5px;
}
.main {
    background: url(background.png);
    background-size: 30%;
}
.contholder {
    padding: 12% 20%;
}
.detailholder {
    padding: 5% 25% 2% 25%;
    height: auto;
    font-size: 25px;
}
.maininfo {
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
}
.detailholder h1 {
    margin-top: 0;
}
.detailholder img {
    height: 300px;
    float: left;
    border-radius: 5px;
    margin-right: 30px;
}
.desc {
    padding: 0% 25% 15px 25%;
    font-size: 20px;
}
.confirmation {
    padding: 10% 20%;
}
.confirmation .inp {
    font-size: 20px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
}
.confirmation .sub {
    text-decoration: none;
    border: 1px solid red;
    background-color: red;
    width:150px;
    color: white;
    font-size: 20px;
    height: 50px;
    line-height : 20px;
    text-align: center;
    border-radius: 5px;
}
.confirmation .sub:hover {
    background-color: white;
    color: red;
}
.moreads {
    color: black;
    text-decoration: none;
    margin:auto;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #FFCA11;
    border-radius: 5px  ;
}
.finalformholder {
    max-width: 1000px;
    font-size: 25px;
    margin: auto;
}
.finalformholder h2 {
    text-align: center;
}
.finalformholder input {
    background-color: #EDEDED;
    border-radius: 5px;
    font-size: 25px;
    border-width: 1px;
}
.finalformholder input[type=text] {
    width: 300px;
}
.finalformholder input.contacts {
    width: 500px;
}
.finalformholder input[type=number] {
    width: 150px;
}
.finalformholder input[type="file"] {
    width: 350px;
    content: 'Оберіть фото профілю';
    display:none;
}
.finalformholder select {
    height: 33px;
    min-width: 150px;
    background-color: #EDEDED;
    border-radius: 5px;
    font-size: 25px;
}
.finalformholder textarea {
    background-color: #EDEDED;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 25px;
    resize: none;
    margin-top: 10px;
    width: 100%;
    height: 200px;
}
.finalformholder button {
    background-color:#FFCA11;
    border-width: 1px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 10px;
}
.bgcont {
    padding: 10px;
    background: url(background.png);
    background-size: 30%;
}
.profilephotolabel {
    display: inline-block;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #EDEDED;
    padding: 1px 5px;
}
.addpadding {
    padding-top: 160px;
}
.marginforffh {
    margin: 16% auto;
}
@media (max-width:1650px) {
    .detailholder {
        padding: 5% 15%;
    }
    .desc {
        padding: 0% 15% 15px 15%;
    }
}
@media (max-width:1250px) {
    .detailholder {
        padding: 5% 5%;
    }
    .desc {
        padding: 0% 5% 15px 5%;
    }
    .marginforffh {
        margin: 19% auto;
    }
}
@media (max-width:1450px) {
    #ghost {
        bottom: 100px;
        top: 100px;
    }
    #ghost2 {
        bottom: 100px;
        top: 100px;
    }
    .filterholder {
        bottom: 100px;
        top: 100px;
    }
    .helpholder {
        bottom: 100px;
        top: 100px;
    }
}
@media (max-width:1200px) {
    .searchbox {
        padding: 50px;
    }
}
@media (max-width:1050px) {
    .marginforffh {
        margin: 24% auto;
    }
    .sellerholder {
        padding: 0% 10% 0% 10%;
    }
    #ghost {
        display: none;
    }
    #ghost2 {
        display: none;
    }
    .filterholder {
        position: relative;
        transform: none;
        bottom: 0px;
        width: 390px;
        top: 0px;
        margin: 0px;
        height: 470px;
        margin-right: 5px;
        margin-top: 10px;
    }
    .helpholder {
        padding-top: 0px;
        margin: 0px;
        position: relative;
        transform: none;
        bottom: 0px;
        width: 350px;
        top: 0px;
        height: 450px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .catholder {
        padding: 0px;
    }
    .helpholder>h3 {
        margin-top: 10px;
    }
    .additionalblocks {
        justify-content: center;
        margin: auto;
        width: 950px;
        display: flex;
        margin-bottom: 10px;
    }
    .infoblock{
        max-width: 700px;
    }
    .imginfoblock{
        padding-top: 20px;
        max-width: 700px;
    }
}
@media (max-width:980px) {
    .sellerholder {
        padding: 0% 5%;
    }
}
@media (max-width:950px) {
    .additionalblocks {
        width: auto;
    }
}
@media (max-width:880px) {
    .imginfoblock {
        height: 600px;
        padding-top: 50px;
        /* margin:auto; */
    }
    .imgwrapper {
        background-position: center;
        background-size: cover;
    }
}
@media (max-width:800px) {
    .marginforffh {
        margin: 29% auto;
    }
    .additionalblocks {
        width: auto;
        flex-wrap: wrap;
    }
    .additionalblocks>* {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width:765px) {
    .searchbox {
        flex-wrap: wrap;
        margin-bottom: 70px;
        padding-top: 30px;
    }
    .searchbox>* {
        margin: 5px;
    }
}
@media (max-width:700px) {
    .infoblock{
        font-size: large;
        height: auto;
        padding: 50px 10px;
    }
    .infoblock>p {
        font-size: 30px;
    }
    .imginfoblock{
        max-width: 550px;
    }
    .footer>ul{
        flex-wrap: wrap;
    }
    .footer>ul>* {
        flex: 1 1 160px;
    }
}
@media (max-width:600px) {
    .detailholder>img {
        float: none;
    }
    .marginforffh {
        margin: 37% auto;
    }
}
@media (max-width:550px) {
    .finalformholder input.contacts {
        width: 90%;
    }
    .imginfoblock {
        height: auto;
    }
    .navigation>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    .imginfoblock>ul {
        flex-wrap: wrap;

    }
    
    .logo {
        position: relative;
    }
    .logoflex {
        padding-bottom: 10px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .logo {
        left: 0;
    }
    .navigation>ul>* {
        flex: 1 1 100px;
    }
    .detailholder>img {
        width: 90%;
        height: auto;
    }
}
@media (max-width:450px) {
    .searchbox { 
        padding-top: 20px;
    }
    .searchbox>* {
        width: 300px;
    }
    .subbutton {
        width: 47px;
    }
    .helpholder {
        height: 520px;
        margin: 10px;
    }
    .filterholder {
        margin: 10px;
    }
    .catholder {
        grid-template-columns: repeat(auto-fit, 300px);
    }
    .carad {
        height: 400px;
    }
    .selleradd {
        height: 470px;
    }
    a:link.seller, a:visited.seller {
        line-height: 25px;
    }
}
@media (max-width:340px) {
    .helpholder {
        height: 560px;
    }
    .finalformholder select.region {
        width:90%;
    }
}